<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>{% if page.title %}{{ page.title }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/jquery.jscroll.min.js"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			if($('.jscroll').length)
			{
				$('.jscroll').jscroll({
					contentSelector: '#photos-list',
					nextSelector: 'a.next',
					padding: 500,
					loadingHtml: '<div align="center"><img src="/loading.gif" alt="Loading" /> Loading...</div>'
				});
			}
		});
	</script>
</head>
<body>
